{
  "extends": "plugin:@sap-ux/eslint-plugin-fiori-tools/defaultTS",
  "plugins": ["eslint-plugin-prettier"],
  "root": true,
  "rules": {
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "comma-dangle": "off", // Handled by Prettier
    "prettier/prettier": "error"
  }
}
